<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<form id="login_form">
    <input type="text" name="id" id="id" placeholder="아이디" /><br/>
    <input type="password" name="pw" placeholder="비밀번호" /><br />
    <button type="button" onclick="login()" >로그인</button>
</form>

<script>
    function login() {
        const form = document.getElementById("login_form");
        const data = {
            user_id: form.id.value,
            password: form.pw.value
        }
        axios({
            method: "POST",
            url: "/login",
            data
        }).then(res => {
            console.log(res)
            document.location.href = `/data/${res.data.id}`
        })
    }
</script>

</body>
</html>